<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CALCULADORA IMC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CALCULADORA IMC</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-label>PESO</ion-label>
    <ion-input [(ngModel)]="peso" id="p"></ion-input>
    <br><br>
    <ion-label>TALLA</ion-label>
    <ion-input [(ngModel)]="talla" id="t"></ion-input><br>
    <br><br>
    <button class="button" (click)="calcular() ">CALCULAR</button>    
  </div>
  <ion-item>
    <div>
      <ion-label>I.M.C</ion-label>
    {{imc}}
    </div>
    
  </ion-item>
</ion-content>
